{{template "base" .}}

{{define "content"}}
<div class="container">



    <h1 class="text-center mt-4 mb-4">Hello welcome to GolfGrab Contact Page</h1>

    <div class="row">
        <div class="col">
            <p>This is some text This is some text This is some text This is some text This is some text This is
                some textThis is some textThis is some textThis is some textThis is some textThis is some
                textThis
                is some textThis is some textThis is some textThis is some text This is some text This is some
                text This is some text This is some text This is some text This is
                some textThis is some textThis is some textThis is some textThis is some textThis is some
                textThis
                is some textThis is some textThis is some textThis is some textThis is some text This is some
                text This is some text This is some text This is some text This is
                some textThis is some textThis is some textThis is some textThis is some textThis is some
                textThis
                is some textThis is some textThis is some textThis is some textThis is some text This is some
                text This is some text This is some text This is some text This is
                some textThis is some textThis is some textThis is some textThis is some textThis is some
                textThis
                is some textThis is some textThis is some textThis is some text</p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <p>This is some text This is some text This is some text This is some text This is some text This is
                some textThis is some textThis is some textThis is some textThis is some text</p>
        </div>
        <div class="col text-center">
            <p>This is some text This is some text This is some text This is some text This is some text</p>
        </div>
    </div>

</div>
{{end}}

