{{template "base" .}}

{{define "content"}}
<div class="container">



    <div class="row">
        <div class="col ">

            <img src="/static/images/gray_room.jpg" class="img-fluid rounded mx-auto d-block room-images mt-3"
                alt="Dray room img">

        </div>
    </div>
    <h1 class="text-center mt-4 mb-4">Hello welcome to Room Gray for The real Gay like U 😜</h1>

    <div class="row">
        <div class="col">
            <p>This is some text This is some text This is some text This is some text This is some text This is
                some textThis is some textThis is some textThis is some textThis is some textThis is some
                textThis
                is some textThis is some textThis is some textThis is some text This is some text This is some
                text This is some text This is some text This is some text This is
                some textThis is some textThis is some textThis is some textThis is some textThis is some
                textThis
                is some textThis is some textThis is some textThis is some textThis is some text This is some
                text This is some text This is some text This is some text This is
                some textThis is some textThis is some textThis is some textThis is some textThis is some
                textThis
                is some textThis is some textThis is some textThis is some textThis is some text This is some
                text This is some text This is some text This is some text This is
                some textThis is some textThis is some textThis is some textThis is some textThis is some
                textThis
                is some textThis is some textThis is some textThis is some text</p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <p>This is some text This is some text This is some text This is some text This is some text This is
                some textThis is some textThis is some textThis is some textThis is some text</p>
        </div>
        <div class="col text-center">
            <p>This is some text This is some text This is some text This is some text This is some text</p>
        </div>
    </div>

    <div class="row mx-auto mx-auto d-blok">
        <div class="col"></div>
        <div class="col">
            <a id="check-availability-button" href="#!" class="btn btn-success btn-lg container-fluid ">Check
                Availability</a>
        </div>
        <div class="col"></div>

    </div>

</div>
{{end}}

{{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
        let html = `
<form id="check-availability-form" action="" method="post" novalidate class="needs-validation" autocomplete="off">
    <div class="row mx-3">
        <div class="col">
            <div class="row" id="reservation-dates-modal">
                <div class="col">
                    <input disabled required class="form-control" type="text" name="start" id="start"
                        placeholder="Arrival">
                </div>

                <div class="col">
                    <input disabled required class="form-control" type="text" name="end" id="end"
                        placeholder="Departure">
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
`

        attention.customFunc(
            title = "Choos your date",
            msg = html,
            function () {
                const elem = document.getElementById('reservation-dates-modal')
                const rp = new DateRangePicker(elem, {
                    format: "yyyy-mm-dd",
                    showOnFocus: true,
                })
            },
            function () {
                return [
                    document.getElementById('start').removeAttribute('disabled'),
                    document.getElementById('end').removeAttribute('disabled')
                ]
            },
            function (result) {
                console.log("called", result)

                let form = document.getElementById("check-availability-form")
                let formData = new FormData(form)
                formData.append("csrf_token", "{{.CSRFToken}}")

                fetch('/search-availability-json', {
                    method: 'POST',
                    body: formData,
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        console.log(data.ok)
                        console.log(data.message)
                    }
                    )
            })
    })
</script>
{{end}}