{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Home</h1>
            <img src="/static/images/dog_sleep.jpg" high="1000" width="1000">
        </div>
    </div>
</div>
{{end}}

